    {% extends "templates/base.html" %}
        {% block head %}
            {{ super() }}
        {% endblock %}
        {% block content %}
        <div class="text">
            <h2 >Welcome to Word Anime</h2>
            <p> Esse é uma pagina para os fans do Anime para poder acessarem as mangas na e acompanhar temporadas do epsodios.</p>
            <ul>
                <li>
                    <p><a  href="/home/mangas?name=naruto" target="_blank" class="btn btn-primary btn-lg" role="button">Naruto &raquo;</a></p>
                </li>
                <li>
                   <p><a href=" /home/mangas?name=bleach" target="_blank" class="btn btn-primary btn-lg" role="button">Bleach &raquo;</a></p>
                </li>
                <li>
                   <p><a href=" /home/mangas?name=fairy_tail" target="_blank" class="btn btn-primary btn-lg" role="button">Fairy Tail &raquo;</a></p>
                </li>
                <li>
                   <p><a href=" /home/mangas?name=one_piece" target="_blank" class="btn btn-primary btn-lg" role="button">One Piece &raquo;</a></p>
                </li>
             </ul>
                    <img src="../static/img/anime.jpg">
         </div>
        {% endblock %}
    </body>
</html>
