{% extends "templates/base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}
    {% block content %}
        <ul style="margin-top: 120px">
            <li>
                <a href="/home/episodio?ep=onepiece-740">One Piece ep740</a>
            </li>
            <br>
            <li>
                <a href="/home/episodio?ep=onepiece-731">One Peice ep741</a>
            </li>
        </ul>

        <img src=" ../static/img/one_piece.jpg">

    {% endblock %}
</body>
</html>