#back-image{
   /* background-image: url("../img/anime.jpg");*/
    background-repeat: no-repeat;
    margin-right: 100px;

}
.jumbotron{
    height: 850px !important;
}
.text{
    margin-top: 100px;
    text-align: center;
}
li{
    display: inline-block;
}
img{
	width: 1200px;
}