<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>World Anime</title>
        <link rel="stylesheet " type=" text/css" href="../static/css/bootstrap.css" >
        <link rel="stylesheet " type=" text/css" href="../static/css/style.css" >
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 100px !important; " >
          <div class="container">
            <div class="navbar-header">
                <h3 style="position: absolute;margin-top: 5px">
                    <a style="color:white;text-decoration: none" href="/">World Anime</a>
                </h3>
              <form method="post" action="" class="form-inline" style="margin-left: 710px !important; margin-top: 5px">
                <input type="text" placeholder="User Name" class="form-control">
                <input type="text" placeholder="Senha" class="form-control">
                <button class="btn btn-default" type="submit"> entrar </button>
              </form>
            </div>
        </div>
        </nav>